.con{
	background: #FAFAD2
}

.con .hea .navba{
	border-radius: none;
	border: none;
	background: #fff;
	height: 30px;
	padding-right: 10%;
	padding-left: 10%;
}

.con .hea .navba a{
	padding:0px;
	line-height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12px;
	color: #777
}

.login{
	padding-left: 10%;
	padding-right: 10%;
}

.modal-content{
	width: 400px;
}

.as{
	text-align: center;
}

.modal-body{
	margin-bottom: 10px;
}

.jumbotron{
	background:url(../images/b2.jpg);
	padding-left: 10%;
	padding-right: 10%;
	height: 180px;
	background-size:cover;
}
.ti{
	font-family:Microsoft JhengHei;
	color: #fff
}

.bod{
	width: 1000px;
	margin: 0px auto;
	background: #f9f9f9
}

.zhengwen{
	background: #fff;
	border-top: 1px solid #f0f0f0
}

.zhengwen .media{
	display: block;
	padding:10px;
	padding-top:0px;
	margin-top: 0px;
	border-bottom:1px solid #eee;
	border-left:1px dashed #f0f0f0;
	width:833px;
	border-right:1px dashed #f0f0f0;
}

.imgs{
	margin-top: 12px;
	margin-bottom: 10px;
	border: 1px solid #b2b2b2
}
.lzimg{
	margin-top: 30px;
}

.zhengwen  .lzcon{
	height: 240px;
	text-align: center;
}

.zhengwen .huifu{
	height: 180px;
	text-align: center;
}

.lzcon>.media-left{
	border-right: 1px dashed #d5d5d5;
	height: 240px;
	width:130px;
	font-size: 12px;
}

.huifu>.media-left{
	border-right: 1px dashed #d5d5d5;
	height: 180px;
	font-size: 12px;
	width:130px;
}

.huifu .yonghu{
	
}

.lzcon>.media-body,.huifu>.media-body{
	padding-top: 20px;
	padding-left: 40px;
}

.zhengwen .media-body{
	width:685px;
	text-align: left;
}

.tiezi{
	height: 70px;
	width: 100%;
	border-bottom:1px dashed #f5f5f5;
	line-height: 70px;
	padding-left: 80px;
	background: #f7f7f7;
	font-size: 18px;
	font-family: 微软雅黑
}

.zhengwen .media .media-right{
	padding-right: 80px;
	font-size: 12px;
}

.yulan{
	font-size: 12px;
}

.zwleft{
	width: 167px;
	height: 380px;
	background: #000;
	color: #fff;
	text-align: center;
	font-size: 85px;
	font-family: 黑体
}

.zwright{
	padding-left: 0px
}

.sp{
	font-size: 250px;
	color: #fff;
}

.sp:hover{
	color: #fff;
	text-decoration:none;
}

.qq{
	color: #fff;
	margin-bottom: -50px;
}

.fon{
	margin-top: 30px;
}

.asd{
	width:60px;
}

.fatie{
	padding-top: 20px;
	padding-left: 18%;
	padding-right: 18%;
	padding-bottom: 70px;
	background: url(../images/ftback.png);
	border: 1px solid #f1f1f1;
}

.ft{
	color: #000;
}

.ft:hover{
	text-decoration:none;
	color: #000;
}

.neir{
	margin-top: 10px;
	resize: none;
	margin-bottom: 10px;
	border-radius: 0px;
}

.ftbtn{
	width: 100px;
	border-radius: 0px;
}

.xx{
	font-size: 12px;
}

.x{
	font-size: 12px;
	text-decoration:none;
	color: #000;
}

.x:hover{
	text-decoration:none;
	color: #000;
}
.retime{
	font-size: 12px;
	color: #b0b0b0;
	margin-left: 450px;
}



*{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.content0{
	width:120px;
	right:80px;
    position:fixed;
    bottom:30px;
}
.filterinput{
	background:#35f
	border-radius:15px;
	width:90%;
	height:30px;
	border:thin solid #FFF;
	text-indent:0.5em;
	font-weight:bold;
	color:#FFF;
}
#demo-list a{
	overflow:hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	white-space:nowrap;
	width:100%;
}