.con{
	background:url(../images/login.jpg)
	}
.jum{
	background:none;
	padding-top:150px;
	padding-bottom:0px
	}
.whi{
	color:#fff
	}
.jumfont{
	font-family:Microsoft JhengHei;
	}
.bod{
	padding-left:30%;
	padding-right:30%;
	padding-bottom:40px
	}
.noy{
	border-radius:0px;
	height:40px}
.as{
	text-align:center
	}
.btn{
	margin:0px
	}
.zc{
	opacity:0.70;
	border-radius:0px;
	width:200px;
	height:40px
	}
.form-control{
	border-radius:0px;
	resize: none;
	}
